{% extends 'base.html' %}
{% block title %}Добавление мероприятия{% endblock %}
{% block content %}
    <div class="features">
        <h1>Добавляем новое мероприятие</h1><br>
        <form method="post">
            {% csrf_token %}

            {{ form.title }}<br>
            {{ form.print_title }}<br>
            {{ form.description }}<br>
            {{ form.from_date }}<br>
            {{ form.to_date }}<br>
           
            
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить мероприятие</button> 


        </form>
    </div>


{% endblock %}