{% extends 'base.html' %}

{% block title %} Добавление мероприятия {% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавляем новое мероприятие</h1>
        <form method="post">
            <input type="text" placeholder="Название" class="form-control"><br>
            <input type="text" placeholder="Название для печати" class="form-control"><br>
            <textarea class="form-control" placeholder="Описание"></textarea><br>
            <input type="date" class="form-control" placeholder="Дата начала"><br>
            <input type="date" class="form-control" placeholder="Дата окончания"><br>
            <button class="btn btn-success" type="submit">Добавить мероприятие</button> 


        </form>
    </div>


{% endblock %}